header {
    background-color: tomato;
    padding: 30px;
}
.headwrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.radio-toolbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}